* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  height: 50000px;
}

.white {
  color: white;
}

.text-align-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.title_text {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .title_text {
    font-size: 60px;
  }
}